body {
  background-color: #fff;
}

h1 {
  margin: auto;
  text-align: center;
}

.login {
  margin: auto;
  text-align: center;
  background-color: #e74c3c;
  padding: 15px 25px;
  border-radius: 10px;
  border: 2px solid #e74c3c;
  color: #fff;
  text-decoration: none;
  width: 220px;
  display: block;
  margin-top: 140px;
}

.login:hover {
  text-decoration: none;
  color: #fff;
}

.users-content .create-link {
  float: right;
  margin-right: 20px;
}

.users-content {
  margin-top: 20px;
}

.users-content .create {
  float: right;
  margin-top: 100px;
  margin-right: 20px;
}

.display-4 {
  font-size: 28px;
}

.table-content {
  margin-top: 190px;
}

.hero {
  margin-top: 140px;
}
