<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Administration</title>
    {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>
    <div class="container home">
      <h1>User Authentication </h1>
      {% block content %}
        <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
      {% endblock %}
    </div>

  </body>
</html>
