<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>User Authentication</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container users-content">
    {% block content %}
      {% if user.is_authenticated %}
        <p class="display-4">Hello, {{ user.first_name }} {{ user.last_name }} ({{ user.email }})</p>
        <a href="/logout">Log Out</a>
      {% endif %}
      <a class="create-link" href="/users/create">Create a New User</a>
      <table class="table table-content">
        <caption>List of users</caption>
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">IBAN</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customers %}
            <tr>
              <th scope="row">{{customer.id}}</th>
              <td>{{customer.first_name}}</td>
              <td>{{customer.last_name}}</td>
              <td>{{customer.iban}}</td>
              <td>
                {% if user.id == customer.administrator.id %}
                  <a href="/update/{{customer.id}}">Edit</a>
                {% endif %}
              </td>
              <td>
                {% if user.id == customer.administrator.id %}
                  <a href="/destroy/{{customer.id}}">Delete</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endblock content%}
  </div>

</body>
</html>
